{% extends 'mebel/base.html' %}

{% block content %}


	 <div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">Про нас:</h2>
					<h1><a href="{% url 'index' %}" class="active">Dulces Sueños</a></h1>
					<h4><p>Культура нашої компанії зобов'язує чесно інформувати клієнтів про якість меблів, строки та умови поставки. Ми покажемо Вам сильні та слабкі стороник кожного виробнгика. А головне - пояснимо, чому схожі на вигляд меблі можуть мати кардинально різну вартість.
Експерти меблів пропонують виключно товар фабричного виробництва, який має всі відповідні сертифікати, що підтверджують якість виробів.</p>
<p> Перевірте нашу компетентність!</p>
<p> Експерти меблів Вас здивують!</p>
<p> Зателефонуйте нам і ми Вас переконаємо!</p></h4>
				</div>			 		
			</div>    	

	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Наша контактна інформація</h2>
	    				<address>
	    					<p>Dulces Sueños</p>
							<p>49000,  Lamana street 19</p>
							<p>Ukraine, Dnipro</p>
							<p>Mobile: +38067 633 93 90</p>
							<p>Email: consuertelm@gmail.com</p>
	    				</address>
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->
	
{% endblock %}