{% extends 'mebel/base.html' %}

{% block content %}
<div class="left-sidebar">
						<h2>КАТЕГОРІЇ</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#spoonmetal">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Металеві ліжка
										</a><
									</h4>
								</div>
								<div id="spoonmetal" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#"> </a></li>
											<li><a href="#"> </a></li>
										</ul>
									</div>
								</div>
							</div>



							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#spoonsoft">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Ліжка з м`яким узголов`ям
										</a>
									</h4>
								</div>
								<div id="spoonsoft" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#"></a></li>
											<li><a href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--/category-products-->
					</div>
				</div>

				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center"> Розпродаж</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="../../static/mebel/images/home/portaKoel.jpeg" alt="" />
											<h2>- 30%</h2>
											<p>Металеве ліжко "Порта Коель"</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
								</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="../../static/mebel/images/home/makkuori1.jpg" alt="" />
                                    <h2>- 10%</h2>
                                    <p>Металеве ліжко "Макуорі"</p>
                                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                            <div class="single-products">
										<div class="productinfo text-center">
											<img src="../../static/mebel/images/home/galant.jpg" alt="" />
											<h2>-40%</h2>
											<p>Ліжко з м`яким узголов`ям "Галант"</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!--features_items-->

                <div class="recommended_items col-sm-12"><!--recommended_items-->
						<h2 class="title text-center">Наші рекомендації</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="../../static/mebel/images/home/batilus.jpg" alt="" />
													<h2>6200,00 грн</h2>
													<p>Ліжко металеве "Батилус"</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="../../static/mebel/images/home/dunkan.jpg" alt="" />
													<h2>8300,00</h2>
													<p>Ліжко з м`яким узголов`ям "Дункан"</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="../../static/mebel/images/home/lotos.jpeg" alt="" />
													<h2>5500.00 грн</h2>
													<p>Металеве ліжко "Лотос"</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div><!--/recommended_items-->
{% endblock %}