{% extends 'mebel/base.html' %}

{% block content %}




	<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Металеві ліжка</h2>
						<div class="col-sm-12">
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/aristol.jpeg" alt="" />
										<h2>7000 грн</h2>
										<p>Арістоль</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/batilus.jpeg" alt="" />
										<h2>6900 грн</h2>
										<p>Батілус</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/ispanola.jpg" alt="" />
										<h2>7300 грн</h2>
										<p>Іспаньйола</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/makuori.jpg" alt="" />
										<h2>7200 грн</h2>
										<p>Макуорі</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/providens.jpeg" alt="" />
										<h2>6800 грн</h2>
										<p>Провіденс</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/sifanta.jpeg" alt="" />
										<h2>6800 грн</h2>
										<p>Сіфанта</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/fibi.jpeg" alt="" />
										<h2>6800 грн</h2>
										<p>Фібі</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/jarvi.jpeg" alt="" />
										<h2>7100 грн</h2>
										<p>Харві</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/product-details/emma.jpg" alt="" />
										<h2>7400 грн</h2>
										<p>Емма</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>


					</div><!--features_items-->
				</div>


			</div>
		</div>
	</section>


{% endblock %}