{% extends 'mebel/base.html' %}

{% block content %}

	

	
	<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Ліжка з м`яким узголов`ям</h2>
						<div class="col-sm-12">
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/arabela.jpg" alt="" />
										<h2>4800 грн</h2>
										<p>Арабела</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>
							</div>

							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/avrora.jpg" alt="" />
										<h2>5300 грн</h2>
										<p>Аврора</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>

							</div>
							<div class="col-sm-4  product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/britaniya.jpg" alt="" />
										<h2>5800 грн</h2>
										<p>Британія</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>

								</div>

							</div>
							<div class="col-sm-4  product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/briz.jpg" alt="" />
										<h2>5900 грн</h2>
										<p>Бриз</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
							</div>

						    <div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/drakan.jpg" alt="" />
										<h2>6300 грн</h2>
										<p>Дракар</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
						     </div>
                             <div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/dunkan.jpg" alt="" />
										<h2>6300 грн</h2>
										<p>Дункан</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
						    </div>
							<div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/gold.jpg" alt="" />
										<h2>6000 грн</h2>
										<p>Голд</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
						    </div>
						    <div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/kalipso.jpg" alt="" />
										<h2>6300 грн</h2>
										<p>Каліпсо</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
						    </div>
						    <div class="col-sm-4 product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="../../static/mebel/images/shop/leandra.jpg" alt="" />
										<h2>6100 грн</h2>
										<p>Леандра</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
								</div>
						    </div>

					</div><!--features_items-->
				</div>


			</div>
		</div>
	</section>
	

{% endblock %}